*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
    text-decoration: none; 
    list-style: none;
    scroll-behavior:smooth;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.cabecera{
    background-image: linear-gradient(to top, #fbc2eb98 0%, #a6c0ee96 100%);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo picture img{
    width: 100px;
}
.logo h1{
    font-size: 100px;
    color: rgb(97, 96, 96);
}
.logo_titulo{
    color: #b42c8dce;
}
.nav_links{
    text-transform: uppercase;  
    width: 90%;
    margin: 0 auto;
}
.nav_links li{
    width: 400px;
    text-align: center;
    display: inline-block;  /*para que se pongan uno al lado del otro */ 
    padding: 10px 20px;
    position: relative;
}
.nav_links li a{
    display: block;  /*para que se comporten como elemento en bloque*/
    color: black;
}
.nav_links li a:hover{
    color: #b42c8dce;
    transition: all .3s;
}
.nav_vertical{
    position: absolute;
    display: none;
    z-index: 1;
}
.nav_links li:hover .nav_vertical{
    display: block;
}
.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.hero video{
    width: 100%;
}
.triangle {
    position: relative;
    background: #a6c0ee;
    height: 5vh;
}
.triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 80px 0 80px;
    border-color: #a6c0ee transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
}
.tratamientos_container{
    width: 100%;
    display: flex;
    flex-direction: column;    
}
.facial{    
    height: 80vh;
    background-image: linear-gradient(to top, #fbc2eb54 0%, #a6c0ee5d 100%), url(./img/facial.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.corporal{   
    height: 80vh;
    background-image: linear-gradient(to top, #fbc2eb54 0%, #a6c0ee5d 100%), url(./img/corporal.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.tratamientos_text{
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.tratamientos_text h3{
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 8px rgb(0, 0, 0, 0.9);
}
.tratamientos_text p{
    font-size: 1.2rem;
    width: 80%;
}
.informacion{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.2rem;
    height: 60vh;
    background-image: radial-gradient(circle at 69% 75%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 38%,transparent 38%, transparent 69%,transparent 69%, transparent 100%),radial-gradient(circle at 41% 58%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 3%,transparent 3%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 94% 91%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 48%,transparent 48%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 68% 38%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 34%,transparent 34%, transparent 36%,transparent 36%, transparent 100%),radial-gradient(circle at 81% 20%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 40%,transparent 40%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 46% 37%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 37%,transparent 37%, transparent 76%,transparent 76%, transparent 100%),radial-gradient(circle at 49% 5%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 43%,transparent 43%, transparent 67%,transparent 67%, transparent 100%),radial-gradient(circle at 18% 58%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 4%,transparent 4%, transparent 20%,transparent 20%, transparent 100%),radial-gradient(circle at 43% 68%, hsla(65,0%,95%,0.05) 0%, hsla(65,0%,95%,0.05) 10%,transparent 10%, transparent 36%,transparent 36%, transparent 100%),linear-gradient(135deg, rgba(85, 133, 238, 0.432),rgba(177, 145, 214, 0.637));
}
.informacion_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
}
.informacion_logo picture img{
    width: 100px;
    padding-right: 10px;
}
.informacion_logo h2{
    color: rgb(97, 96, 96);
    font-size: 50px;
}
.informacion_text{
    width: 600px;
    line-height: 40px;
}
.informacion_text h2{
    text-transform: uppercase;
    color: rgba(97, 96, 96, 0.596);
}
.flecha img{
    width: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
}
.final{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: linear-gradient(to top, #fbc2eb98 0%, #a6c0ee96 100%);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);;
}
.final a{
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 20px;
}
.final i{
    font-size: 30px;
}
.firma{
    text-align: center;
    font-size: 12px;
}